@model FlightsManager.Models.Flight.FlightIndexVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table id="table">
    <thead>
        <tr>
            <th>Airplane Type</th>
            <th>Destination From</th>
            <th>Destination To</th>
            <th>Take-Off</th>
            <th>Landing</th>
            <th>Pilot Name</th>
            <th>Capacity</th>
            <th>BusinessClassCapacity</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>@Html.DisplayFor(m => item.AirplaneType)</td>
            <td>@Html.DisplayFor(m => item.DestinationFrom)</td>
            <td>@Html.DisplayFor(m => item.DestinationTo)</td>
            <td>@Html.DisplayFor(m => item.TakesOff)</td>
            <td>@Html.DisplayFor(m => item.Landing)</td>
            <td>@Html.DisplayFor(m => item.PilotName)</td>
            <td>@Html.DisplayFor(m => item.Capacity)</td>
            <td>@Html.DisplayFor(m => item.BusinessClassCapacity)</td>
            <td>
                <a asp-action="Detail" asp-route-id="@item.AirplaneID">Detail</a>
                <a asp-action="Edit" asp-route-id="@item.AirplaneID">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.AirplaneID">Delete</a>
            </td>
        </tr>
        }
    </tbody>

    <!--<ul class="pagination">
        @for (int i = 1; i <= Model.Pager.PagesCount; i++)
        {
            <li class="page-item" @(i == Model.Pager.CurrentPage ? "active" : "")>
                <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>-->
</table>